/* mobile & ipad-tablet */
@media (max-width: 1023px) {

}

/* mobile */
@media (max-width: 739px) {



    /* can sua lai, bo ben nay di */
    .footer {
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* ipad-tablet */
@media (min-width: 740px) and (max-width: 1023px) {

}

/* pc */
@media (min-width: 1024px) {
    .nav {
        position: relative;
    }

    .nav__bars,
    .mobile__menu {
        display: none;
    }
    
    .nav__menu {
        position: unset;
        display: block;
    }

    .menu-list {
        display: flex;
        height: 100%;
    }

    .menu-list > .menu-item {
        padding: 0 20px;
    }

    .menu-item {
        position: unset;
    }

    .menu-item a {
        display: inline-block;
        line-height: 46px;
    }

    .has-angle-down .angle-down-icon {
        display: none;
    }

    .menu-item:hover>a {
        color: var(--text-red);
        border-color: var(--text-red);
    }

    .submenu-list-1 {
        position: absolute;
        z-index: 999;
        left: 0;
        right: 0;
        margin: auto;
        max-width: 1200px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color: #ffffffc2;
        display: none;
    }
    
    .menu-item:hover .submenu-list-1 {
        display: flex;
        align-items: flex-start;
        animation: showIn ease .5s;
    }

    .submenu-list-1 .menu-item--level-1 {
        min-width: 200px;
        max-width: 250px;
        padding: 0 10px;
    }
    
    .menu-item--level-1>a {
        height: 30px;
        width: 100%;
        padding: 10px 0;
        line-height: 100%;
        display: inline-block;
        text-transform: uppercase;
        border-bottom: 1px solid black;
    
    }
    
    .submeu-list-2 {
        margin-bottom: 10px;
    }
    
    .menu-item--level-2>a {
        height: 30px;
    }

}