/* mobile & ipad-tablet */
@media (max-width: 1023px) {

}

/* mobile */
@media (max-width: 739px) {



    /* can sua lai, bo ben nay di */
    .footer {
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* ipad-tablet */
@media (min-width: 740px) and (max-width: 1023px) {

}

/* pc */
@media (min-width: 1024px) {
    .nav__bars,
    .mobile__menu {
        display: none;
    }
    
    .nav__menu {
        position: relative;
        display: block;
    }

    .menu-list {
        display: flex;
        height: 100%;
    }

    .menu-list > .menu-item {
        padding: 0 20px;
    }

    .menu-item a {
        display: inline-block;
        line-height: 46px;
    }

    .menu-item a.has-angle-down {
        padding-right: 20px;
    }
    .has-angle-down .angle-down-icon {
        padding: 0;
    }


}